*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: black;
    
}
::-webkit-scrollbar-thumb{
    background-color: var(--theme-lt-blue) ;
}
.body1{
    background-image: url(../img/back_Welcome.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100vh;
    
}
.effect-1{
    border: 0;
    outline: none;
    width: 100%;
    padding: 7px 0;
    border-bottom: 1px solid #465b52;
    background-color: #464b5200;
    
}
.effect-1 ~ .focus-border{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    color: var(--lightblue);
    transition: 0.4s;
}
.effect-1:focus ~ .focus-border{
    width: 100%;
    transition: 0.4s;
    left: 0;
}
::placeholder{
    color: black;
}

#form{
    backdrop-filter: blur(8px);
   
}
