@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

*{
   font-family:'Inconsolata', monospace;
}
body{
   
   background-color:#e3e6f3; 
   color:#465b52;
}

.btn1{
   background-color: #465b52;
   color: #e3e6f3;
   height: 50px;
   width: 200px;
   border: #e3e6f3;
   font-weight: 600;
   border-radius: 60px;
}
.btn1:hover{
   background-color: #585858;
    transition: all 0.5s ease-in-out;
    color: black;
}
 .ig{
    margin-top: 20px;
 }
 h4{
   color:#585858;
   font-weight: 600;
   font-family:'Inconsolata', monospace;
 }
 h1{
   color: #585858;
 }